%tr.location{:id => dom_id(location), :class => row_classes(location) }
  %td= location.name
  %td.number= location.deals.size 
  %td
    = location.address
    = link_to "Map", "http://maps.google.com/maps?q=#{location.lat},#{location.long}"    
  %td= location.city
  %td= location.state
  %td= location.postcode
  %td.date="#{time_ago_in_words location.created_at} ago"
  %td.date="#{time_ago_in_words location.updated_at} ago"