- content_for :title do 
  Qwiqq | #{@user.best_name}
  
#user
  .container
    #info
      %img.user-photo{ :src => @user.photo(:iphone_zoom_2x), :width => "260", :height => "260" }
      .name= @user.name
      .username= "@#{@user.username}"
      .location= @user.location
      .bio= auto_link(@user.bio, :html => { :target => '_blank' })
      - if @user.phone
        - if @user.phone.length>0
          .phone{:style=>'margin-top:10px;'}
            %a{ :href => "tel:#{@user.phone}" }
            = "Phone: #{@user.phone}"
      .stat
        .num= @user.deals_num
        = @user.deals_num == 1 ? 'post' : 'posts'
      .stat 
        .num= @user.following_count
        following
      .stat 
        .num= @user.followers_count
        followers

    #slider
      - if @deals.empty?
        %p.empty-deals
          Boo hoo... this user has not posted anything yet.
        
      - else
        - @deals.each_with_index do |deal, i|
          - if i == 0
            %img.arrow-left{ :src => image_path("arrow-left.png") } 
          %a{ :href => deal_url(deal) }
            .post
              .details
                %img.post-photo{ :src => deal.photo(:iphone_zoom_2x), :width => "504", :height => "504" }
                .clearfix
                  .name= auto_link(deal.name, :html => { :target => '_blank' })
                  - if deal.for_sale_on_paypal?
                    %div{:style => "position:relative;width:100%;margin-top:12px;"}
                      %a{:href => "#{deal.id}/purchase", ":data-remote" => 'true'}
                        %img.buy{:src =>image_path("buy-button.png")}
                        %span.dollars-large-buy{:style => "position:absolute;left:20px;"}= deal.price_as_string
                      %span.quantity  
                        - if deal.num_left_for_sale > 0
                          ="#{deal.num_left_for_sale} left"
                        - else
                          .sold
                            Sold Out
                  - else
                    .price
                      .hole
                      %span.dollars-large{:style=> ""}= deal.price_as_string


              .metadata
                - unless deal.venue_or_location_name.blank? || deal.venue_or_location_name == "" || deal.venue_or_location_name.nil?
                  .location{:style=>"word-wrap:normal; width:69%; line-height:1.4em;"}
                    %img.icon{ :src => image_path("location-icon.png") }
                    %span= deal.venue_or_location_name 
                .stats
                  %span.stat.love
                    %img.icon{ :src => image_path("love-icon.png") }
                    = deal.likes_count
                  %span.stat.share
                    %img.icon{ :src => image_path("share-icon.png") }
                    = deal.shares_count
                  %span.stat.time
                    %img.icon.time{ :src => image_path("time-icon.png") }
                    = short_time_ago_in_words(deal.created_at)
