- content_for :title do 
  Qwiqq | Welcome!
  
#fixed-header-small
  .container
    %a{ :href => root_url }
      %img.logo-small{ :src => image_path("header-logo.png") }
    .app-store-link-small
      %img.free-small{ :src => image_path("free-small.png") }
      %img.free-arrow-small{ :src => image_path("free-arrow-small.png") }
      %a{ :href => "/download" }
        %img{ :src => image_path("app-store-small.png") }

#user
  .container
    #fixed-container
      #info
        %img.user-photo{ :src => @user.photo(:iphone_zoom_2x), :width => "260", :height => "260" }
        .name= @user.name
        .location= @user.location
        .bio= @user.bio
        .stat
          .num= @user.deals_count
          posts
        .stat 
          .num= @user.following_count
          following
        .stat 
          .num= @user.followers_count
          followers

    #slider
      - @deals.each do |deal|
        %img.arrow-left{ :src => image_path("arrow-left.png") }
        %a{ :href => deal_url(deal) }
          .post
            .details
              %img.post-photo{ :src => deal.photo(:iphone_zoom_2x), :width => "504", :height => "504" }
              .clearfix
                .name= deal.name
                .price
                  %span.dollars-large= price_string(deal)

            .metadata
              .location
                %img.icon{ :src => image_path("location-icon.png") }
                = deal.venue_or_location_name
              .stats
                %span.stat
                  %img.icon{ :src => image_path("love-icon.png") }
                  = deal.likes_count
                %span.stat
                  %img.icon{ :src => image_path("share-icon.png") }
                  = deal.shares_count
                %span.stat
                  %img.icon.time{ :src => image_path("time-icon.png") }
                  = short_time_ago_in_words(deal.created_at)

= render "shared/footer"

