!!!
%html
  %head
    %meta{ :charset => "utf-8" }
    %meta{ "http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1" }
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1" }
    %title
      Qwiqq Coupon - #{deal.name}
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tag
    %meta(property="fb:app_id" content="236767206341724")
    %meta(property="og:site_name" content="Qwiqq.me")
      
  %body
    .coupon-container
      %a{ :href => root_url }
        %img{ :src => image_path("logo-coupon.png") }
      .coupon
        = link_to "https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif", deal.test_paypal
        - if redeemed?
          .header
            .inner Yay, you snagged a Qwiqq #coupon!
          .details
            %p.inner
              = deal.name
              - unless deal.venue_or_location_name == ""
                %br
                = "@ #{deal.venue_or_location_name}"
          - unless deal.venue_or_location_name == ""
            .map
              %a{ :href => "http://maps.google.com/?q=#{deal.lat},#{deal.lon}", :target => '_blank' }
                %img{ :src => "http://maps.googleapis.com/maps/api/staticmap?size=280x200&zoom=15&sensor=false&markers=color:red|#{deal.lat},#{deal.lon}" }
        - else
          .gone
            .sorry
              Sorry,
            someone beat you to the last Qwiqq 
            %br #coupon.

      - if redeemed?
        %p.directions
          - if deal.venue_or_location_name != ""
            %em Show your Qwiqq #coupon
            to our friends @
            %a{ :href => "http://maps.google.com/?q=#{deal.lat},#{deal.lon}", :target => '_blank' }
              = deal.venue_or_location_name
            %em to redeem!
          - else
            %em Show your Qwiqq #coupon
            to our friends to redeem!
      - else
        %p.directions
          = link_to 'back to Qwiqq post', deal
    


    = render "shared/google_analytics"