#businesses
  .container
    .boxes.info
      .box.logo


        %a{ :href => "javascript:$(this).scrollTop(0);return false;"}
          %img{ :src => image_path("footer-logo.png") }
        %h1.centerText
          Love it? Share it!
        %h2
          Qwiqq is a fast, fun, and simple way to share the things you love to buy.

      .box.download
        %a{ :href => "/download" }
          %img{ :src => image_path("footer-app-store.png") }
        %h1.centerText
          Free Download
        %h2
          Get Qwiqq for free from the iPhone App Store.
  
      .box.contact
        .services
          %a{ :href => "http://www.facebook.com/Qwiqq" }
            %img{ :src => image_path("footer-facebook.png") }
          %a{ :href => "http://www.twitter.com/Qwiqq" }
            %img{ :src => image_path("footer-twitter.png") }
          %a{ :href => "mailto:hello@qwiqq.com" }
            %img{ :src => image_path("footer-email.png") }
        %h1.centerText
          Get in Touch
        %h2
          Facebook, Tweet or email us, we'd love to hear from you.

    %ul
      %li= link_to "Blog", "http://blog.qwiqq.me"
      |
      %li= link_to "Help", "http://help.qwiqq.me"
      |
      %li= link_to "About Us", about_url
      |
      %li= link_to "Media", media_url
      |
      %li= link_to "Privacy", privacy_url
      |
      %li= link_to "Terms", terms_url
      |
      %li= link_to "Fees", fees_url
      |
      %li &copy; 2012, Qwiqq Inc.