#footer
  .container
    .boxes
      .box
        %img{ :src => image_path("footer-love.png") }
        %h2
          From a cute pair of shoes to the perfect salon to the tastiest Thai on the Upper West Side.  The things you love are all around you!

      .box
        %img{ :src => image_path("footer-share.png") }
        %h2
          Just snap a photo, write a quick note and enter the price. We do the rest. Remember, sharing is caring!

      .box
        %img{ :src => image_path("footer-discover.png") }
        %h2
          Wow! People are really interesting.  From foodies to fashionistas, discover what your friends and the community around you are sharing!

    %ul
      %li= link_to "Blog", "http://blog.qwiqq.me"
      |
      %li= link_to "About Qwiqq", about_url
      |
      %li= link_to "Media", media_url
      |
      %li= link_to "Privacy Policy", privacy_url
      |
      %li= link_to "Terms", terms_url
      |
      %li &copy; 2011, Qwiqq Inc

