#grid
  - @deals.each do |deal|
    .post-small
      %a{ :href => deal_url(deal) }
        .details
          %img.post-photo{ :src => deal.photo.url(:iphone_zoom), :width => "240", :height => "240" }
          .name= deal.name
          .price
            %span.dollars= price_string(deal)

      %a{ :href => user_url(deal.user) }
        .metadata
          %img.arrow-down{ :src => image_path("arrow-down.png") }
            %img.user-photo{ :src => deal.user.photo.url(:iphone), :width => "48", :height => "48" }
          .stats
            %span.stat
              %img.icon{ :src => image_path("love-icon.png") }
              = deal.likes_count
            %span.stat
              %img.icon{ :src => image_path("share-icon.png") }
              = deal.shares_count
            %span.stat
              %img.icon{ :src => image_path("time-icon.png") }
              = short_time_ago_in_words(deal.created_at)
          .location
            %img.icon{ :src => image_path("location-icon.png") }
            = truncate(deal.venue_or_location_name, :length => 24)

