.post-small{:style => "display: table; margin: 0 auto"}
  %a{:href => deal_url(mail_grid_deal), :style => "text-decoration: none; color: #222 !important;"}
    .details{:style => "background-color: white;border: 1px solid #cdcdcc; border-radius: 6px 6px 6px 6px;-webkit-border-radius: 6px;box-shadow: 0 0 6px #8C8C8C;-webkit-box-shadow: 0 0 6px #8C8C8C;color: #333333;font-size: 16px;height: 370px;margin: 8px;padding: 10px;text-align: left;width: 240px;"}
      %img.post-photo{:height => "240", :src => mail_grid_deal.photo.url(:iphone_zoom), :style => "border-radius: 6px 6px 6px 6px;-webkit-border-radius: 6px;", :width => "240"}
        .name{:style => "height: 60px;padding: 4px 0;"}= mail_grid_deal.name
        .price{:style => "padding: 2px 8px 2px 10px; background-color: #EDEDED; border: 2px solid #DEDEDE; -webkit-border-radius: 6px 6px 6px 6px; border-radius: 6px 6px 6px 6px;float: left;margin-top: 10px;"}
          .hole{:style => "background-color: white;border: 2px solid #DEDEDE;border-radius: 6px 6px 6px 6px;-webkit-border-radius: 6px 6px 6px 6px;float: left;height: 5px;margin: 6px 0px 0px 0px;width: 5px;"}
          %span.dollars{:style => "color: #6CB340;font-size: 14px; text-align:left;margin-left:5px;"}= mail_grid_deal.price_as_string
          - if mail_grid_deal.for_sale_on_paypal?
            - if mail_grid_deal.num_left_for_sale > 0
              %span{:style => "font-size:14px;color:#6cb340;margin-left:10px"}
                Buy Now
        
        -#- if mail_grid_deal.for_sale_on_paypal?
          - if mail_grid_deal.num_left_for_sale > 0
            %a{:href => "http://qwiqq.me/posts/#{mail_grid_deal.id}/purchase", ":data-remote" => 'true',:style=>"text-decoration:none;"}
              %span{:style => "font-size:14px;color:#6cb340;"} Buy Now
              %br
              %span{:style => "color:#F47527; font-size:14px;"}
                ="#{mail_grid_deal.num_left_for_sale}"
                left
          - else
            .sold{:style => "color:red; margin-top:10px;"}
              Sold Out


  %a{:href => user_url(mail_grid_deal.user), :style => "text-decoration: none;"}
    .metadata{:style => "color: #9A8C7E;font-size: 14px;font-weight: 300;padding: 10px 20px;text-align: left;"}
      %img.user-photo{:height => "48", :src => mail_grid_deal.user.photo.url(:iphone), :style => "-webkit-border-radius: 6px 6px 6px 6px; border-radius: 6px 6px 6px 6px;float: left;", :width => "48"}
      .stats{:style => "left: 3px;top: -3px;"}
        %span.stat{:style => "color: #9A8C7E;font-size: 14px;font-weight: 300;text-align: left;"}
          %img.icon{:src => image_path("love-icon.png"), :style => "margin-left: 4px;top: 4px;"}
            = mail_grid_deal.likes_count
        %span.stat{:style => "color: #9A8C7E;font-size: 14px;font-weight: 300;text-align: left;"}
          %img.icon{:src => image_path("share-icon.png"), :style => "margin-left: 4px;top: 4px;"}
            = mail_grid_deal.shares_count
        %span.stat{:style => "color: #9A8C7E;font-size: 14px;font-weight: 300;text-align: left;"}
          %img.icon{:src => image_path("time-icon.png"), :style => "margin-left: 4px;top: 4px;"}
            = short_time_ago_in_words(mail_grid_deal.created_at)
      .location{:style => "left: 3px;top: -7px; color: #9A8C7E;font-size: 14px;font-weight: 300;text-align: left;"}
        - if mail_grid_deal.venue_or_location_name != "" && mail_grid_deal.venue_or_location_name != nil
          %img.icon{:src => image_path("location-icon.png"), :style => "margin-left: 4px;top: 4px;"}
          = truncate(mail_grid_deal.venue_or_location_name, :length => 24)
        - else
          %img.icon{:src => image_path("no-location-icon.png"), :style => "margin-left: 4px;top: 4px;"}