#deal-header
  %a.logo{ :href => root_url }
    %img{ :src => "/images/logo.png" }
  %a.download{ :href => download_url }
    %img{ :src => "/images/download-green-mid.png" }

#deal
  #top
    #user
      %img.photo{ :src => @deal.user.photo.url(:admin_med) }
      %span.username #{@deal.user.username} posted this #{@deal.age} ago
    #share
      %a.twitter{ :href => "http://twitter.com/share?text=#{Qwiqq.share_deal_message(@deal)}" }
        .button
      %a.facebook{ :href => "http://www.facebook.com/sharer/sharer.php?u=#{deal_url(@deal)}" }
        .button
  #shadow
  #main
    #info
      %img#image{ :src => @deal.photo.url(:iphone_zoom_2x) } 
      #details
        #name= emojify @deal.name
        .price_or_percent
          - if @deal.price
            #{@deal.price_as_string}
          - else
            #{@deal.percent}% Off
      #map-title
        %img{ :src => "/images/location.png" }
        = @deal.location_name
      #map
        %a{ :href => "http://maps.google.com/?q=#{@deal.lat},#{@deal.lon}" }
          %img{ :src => "http://maps.googleapis.com/maps/api/staticmap?size=385x220&sensor=false&markers=color:red|#{@deal.lat},#{@deal.lon}" }

    - unless @deal.likes.empty?
      #likes
        #count
          %img{ :src => "/images/like.png" }
          #{pluralize(@deal.like_count, "Like")}
        - @deal.likes.each do |like|
          .like
            %img.user{ :src => like.user.photo.url(:admin_med) }

    - unless @deal.comments.empty?
      #comments
        #count
          %img{ :src => "/images/like.png" }
          #{pluralize(@deal.comment_count, "Comment")}
        - @deal.comments.each do |comment|
          .comment
            %img.user{ :src => comment.user.photo.url(:admin_med) }
            %span.body 
              "#{emojify comment.body}"
              %span.from
                from #{comment.user.username} #{comment.age} ago

#deal-footer
  %ul#links
    %li= link_to "Home", root_url
    |
    %li= link_to "Get the App", download_url
    |
    %li= link_to "About Qwiqq", about_url
  
