!!!
%html
  %head
    %title
      My Title
    :css
      /* Client-specific Styles */
      #outlook a{padding:0;} /* Force Outlook to provide a "view in browser" button. */
      body{width:100% !important;} .ReadMsgBody{width:100%;} .ExternalClass{width:100%;} /* Force Hotmail to display emails at full width */
      body{-webkit-text-size-adjust:none;} /* Prevent Webkit platforms from changing default text sizes. */
      /* Reset Styles */
      body{margin:0; padding:0;}
      img{border:0; height:auto; line-height:100%; outline:none; text-decoration:none;}
      table td{border-collapse:collapse;}
      #backgroundTable{height:100% !important; margin:0; padding:0;background-image: url("http://www.kylecopley.com/novationmobile/qwiqq/background.jpg");}

      /* Template Styles */

      /* /\/\/\/\/\/\/\/\/\/\ STANDARD STYLING: COMMON PAGE ELEMENTS /\/\/\/\/\/\/\/\/\/\ */
      
      /**
      * @tab Page
      * @section background color
      * @tip Set the background color for your email. You may want to choose one that matches your company's branding.
      * @theme page
      */
      body, #backgroundTable{
        /*@editable*/ 
        background-color:#FAFAFA;
        background-image: url("http://www.kylecopley.com/novationmobile/qwiqq/background.jpg");
      }
      
      /**
      * @tab Page
      * @section email border
      * @tip Set the border for your email.
      */
      #templateContainer{
        /*@editable*/ border: 1px solid #DDDDDD;
      }
      
      /**
      * @tab Page
      * @section heading 1
      * @tip Set the styling for all first-level headings in your emails. These should be the largest of your headings.
      * @style heading 1
      */
      h1, .h1{
        /*@editable*/ color:#202020;
        display:block;
        /*@editable*/ font-family:Arial;
        /*@editable*/ font-size:34px;
        /*@editable*/ font-weight:bold;
        /*@editable*/ line-height:100%;
        margin-top:0;
        margin-right:0;
        margin-bottom:10px;
        margin-left:0;
        /*@editable*/ text-align:left;
      }

      /**
      * @tab Page
      * @section heading 2
      * @tip Set the styling for all second-level headings in your emails.
      * @style heading 2
      */
      h2, .h2{
        /*@editable*/ color:#202020;
        display:block;
        /*@editable*/ font-family:Arial;
        /*@editable*/ font-size:30px;
        /*@editable*/ font-weight:bold;
        /*@editable*/ line-height:100%;
        margin-top:0;
        margin-right:0;
        margin-bottom:10px;
        margin-left:0;
        /*@editable*/ text-align:left;
      }

      /**
      * @tab Page
      * @section heading 3
      * @tip Set the styling for all third-level headings in your emails.
      * @style heading 3
      */
      h3, .h3{
        /*@editable*/ color:#202020;
        display:block;
        /*@editable*/ font-family:Arial;
        /*@editable*/ font-size:26px;
        /*@editable*/ font-weight:bold;
        /*@editable*/ line-height:100%;
        margin-top:0;
        margin-right:0;
        margin-bottom:10px;
        margin-left:0;
        /*@editable*/ text-align:left;
      }

      /**
      * @tab Page
      * @section heading 4
      * @tip Set the styling for all fourth-level headings in your emails. These should be the smallest of your headings.
      * @style heading 4
      */
      h4, .h4{
        /*@editable*/ color:#202020;
        display:block;
        /*@editable*/ font-family:Arial;
        /*@editable*/ font-size:22px;
        /*@editable*/ font-weight:bold;
        /*@editable*/ line-height:100%;
        margin-top:0;
        margin-right:0;
        margin-bottom:10px;
        margin-left:0;
        /*@editable*/ text-align:left;
      }
      
      /* /\/\/\/\/\/\/\/\/\/\ STANDARD STYLING: PREHEADER /\/\/\/\/\/\/\/\/\/\ */
      
      /**
      * @tab Header
      * @section preheader style
      * @tip Set the background color for your email's preheader area.
      * @theme page
      */
      #templatePreheader{
        /*@editable background-image: url("http://www.kylecopley.com/novationmobile/qwiqq/topbar-background.png");
        background-repeat: repeat-x;
        */
        width: 600px;
        height: 151px;
        
        margin: 0;
      }
      
      #templatePreheader td{
        margin: 0;  
        padding: 0;
      }
      
      /**
      * @tab Header
      * @section preheader text
      * @tip Set the styling for your email's preheader text. Choose a size and color that is easy to read.
      */
      .preheaderContent div#logo{
        /*@editable*/ color:#505050;
        /*@editable*/ font-family:Arial;
        /*@editable*/ font-size:10px;
        /*@editable*/ line-height:100%;
        /*@editable*/ text-align:left;
        margin-left: 60px;
        
        diplay: block;
        width: 143px;
        height: 141px;
        background-image: url("http://www.kylecopley.com/novationmobile/qwiqq/logo-background.gif");
        -webkit-box-shadow: 0px 0px 2px 2px #e0dfdd;
        box-shadow: 0px 0px 2px 2px #e0dfdd;
      }
      
      /**
      * @tab Header
      * @section preheader link
      * @tip Set the styling for your email's preheader links. Choose a color that helps them stand out from your text.
      */
      .preheaderContent div a:link, .preheaderContent div a:visited, /* Yahoo! Mail Override */ .preheaderContent div a .yshortcuts /* Yahoo! Mail Override */{
        /*@editable*/ color:#336699;
        /*@editable*/ font-weight:normal;
        /*@editable*/ text-decoration:underline;
      }
      
      /**
      Seller styles in the preheaderContent
      **/
      .preheaderContent #info{
        margin-left: 20px;
        margin-top: 25px;
      }
      .preheaderContent #info .seller{
        color: #808080;
        text-transform: uppercase;  
        font-family: Arial, Helvetica, sans-serif;
        font-weight: normal;
        font-size: 12px;
        letter-spacing: 1px;
      }
      .preheaderContent #info .name{
        font-size: 18px;
        color: #a4a4a4;
        font-family: Arial, Helvetica, sans-serif;
      }
      
      /**
      *
      * Purchase Button
      *
      **/
      .preheaderContent #purchase{
        margin-left: 20px;
        margin-top: 35px;
        margin-bottom: 7px;
      }
      .preheaderContent #purchase a.buynow{
        display: block;
        width: 157px;
        height: 40px;
        float: left;
      }
      .preheaderContent #purchase .price{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 36px;
        color: #44423f;
        font-weight: bold;
        padding-left: 10px;
      }


      
      /* /\/\/\/\/\/\/\/\/\/\ STANDARD STYLING: HEADER /\/\/\/\/\/\/\/\/\/\ */
      
      /**
      * @tab Header
      * @section header style
      * @tip Set the background color and border for your email's header area.
      * @theme header
      */
      #templateHeader{
        /*@editable*/ background-color:#FFFFFF;
        /*@editable*/ border-bottom:0;
      }
      
      /**
      * @tab Header
      * @section header text
      * @tip Set the styling for your email's header text. Choose a size and color that is easy to read.
      */
      .headerContent{
        /*@editable*/ color:#202020;
        /*@editable*/ font-family:Arial;
        /*@editable*/ font-size:34px;
        /*@editable*/ font-weight:bold;
        /*@editable*/ line-height:100%;
        /*@editable*/ padding:0;
        /*@editable*/ text-align:center;
        /*@editable*/ vertical-align:middle;
      }
      
      /**
      * @tab Header
      * @section header link
      * @tip Set the styling for your email's header links. Choose a color that helps them stand out from your text.
      */
      .headerContent a:link, .headerContent a:visited, /* Yahoo! Mail Override */ .headerContent a .yshortcuts /* Yahoo! Mail Override */{
        /*@editable*/ color:#336699;
        /*@editable*/ font-weight:normal;
        /*@editable*/ text-decoration:underline;
      }
      
      #headerImage{
        height:auto;
        max-width:600px;
      }
      
      /* /\/\/\/\/\/\/\/\/\/\ STANDARD STYLING: MAIN BODY /\/\/\/\/\/\/\/\/\/\ */
      
      /**
      * @tab Body
      * @section body style
      * @tip Set the background color for your email's body area.
      */
      table#templateContainer{
        /*@editable*/ background-color: white;
        -webkit-border-radius: 25px;
        border-radius: 25px;
        margin-top:1px;
        text-shadow: 2px 2px 1px #c0beb8;
        filter: dropshadow(color=#c0beb8, offx=2, offy=2);
      }
      #templateContainer table#templateBody tr{
      text-shadow: none;  
      }
      .bodyContent{
      }
      /**
      * @tab Body
      * @section body text
      * @tip Set the styling for your email's main content text. Choose a size and color that is easy to read.
      * @theme main
      */
      .bodyContent div{
        /*@editable*/ color:#505050;
        /*@editable*/ font-family:Arial;
        /*@editable*/ font-size:14px;
        /*@editable*/ line-height:150%;
        /*@editable*/ text-align:left;
      }

      /**
      * @tab Body
      * @section body link
      * @tip Set the styling for your email's main content links. Choose a color that helps them stand out from your text.
      */
      .bodyContent div a:link, .bodyContent div a:visited, /* Yahoo! Mail Override */ .bodyContent div a .yshortcuts /* Yahoo! Mail Override */{
        /*@editable*/ color:#336699;
        /*@editable*/ font-weight:normal;
        /*@editable*/ text-decoration:underline;
      }

      .bodyContent img{
        display:inline;
        height:auto;
      }

      /* /\/\/\/\/\/\/\/\/\/\ STANDARD STYLING: COLUMNS; LEFT, RIGHT /\/\/\/\/\/\/\/\/\/\ */

      /**
      * @tab Columns
      * @section left column text
      * @tip Set the styling for your email's left column text. Choose a size and color that is easy to read.
      */
      .leftColumnContent{
        /*@editable*/ background-color:#FFFFFF;
      }
      
      /**
      * @tab Columns
      * @section left column text
      * @tip Set the styling for your email's left column text. Choose a size and color that is easy to read.
      */
      .leftColumnContent div{
        /*@editable*/ color:#505050;
        /*@editable*/ font-family:Arial;
        /*@editable*/ font-size:14px;
        /*@editable*/ line-height:150%;
        /*@editable*/ text-align:left;
      }
      
      /**
      * @tab Columns
      * @section left column link
      * @tip Set the styling for your email's left column links. Choose a color that helps them stand out from your text.
      */
      .leftColumnContent div a:link, .leftColumnContent div a:visited, /* Yahoo! Mail Override */ .leftColumnContent div a .yshortcuts /* Yahoo! Mail Override */{
        /*@editable*/ color:#336699;
        /*@editable*/ font-weight:normal;
        /*@editable*/ text-decoration:underline;
      }

      .leftColumnContent img{
        display:inline;
        height:auto;
      }

      /**
      * @tab Columns
      * @section right column text
      * @tip Set the styling for your email's right column text. Choose a size and color that is easy to read.
      */
      .rightColumnContent{
        /*@editable*/ background-color:#FFFFFF;
      }
      
      /**
      * @tab Columns
      * @section right column text
      * @tip Set the styling for your email's right column text. Choose a size and color that is easy to read.
      */
      .rightColumnContent div{
        /*@editable*/ color:#505050;
        /*@editable*/ font-family:Arial;
        /*@editable*/ font-size:14px;
        /*@editable*/ line-height:150%;
        /*@editable*/ text-align:left;
      }
      
      /**
      * @tab Columns
      * @section right column link
      * @tip Set the styling for your email's right column links. Choose a color that helps them stand out from your text.
      */
      .rightColumnContent div a:link, .rightColumnContent div a:visited, /* Yahoo! Mail Override */ .rightColumnContent div a .yshortcuts /* Yahoo! Mail Override */{
        /*@editable*/ color:#336699;
        /*@editable*/ font-weight:normal;
        /*@editable*/ text-decoration:underline;
      }

      .rightColumnContent img{
        display:inline;
        height:auto;
      }

      /* /\/\/\/\/\/\/\/\/\/\ STANDARD STYLING: FOOTER /\/\/\/\/\/\/\/\/\/\ */

      /**
      * @tab Footer
      * @section footer style
      * @tip Set the background color and top border for your email's footer area.
      * @theme footer
      */
      #templateFooter{
        /*@editable*/ background-color: none;
        /*@editable*/ border-top:0;
        margin-top: ;
      }

      /**
      * @tab Footer
      * @section footer text
      * @tip Set the styling for your email's footer text. Choose a size and color that is easy to read.
      * @theme footer
      */
      table#templateFooter{
        /*@editable*/ color:#707070;
        /*@editable*/ font-family:Arial;
        /*@editable*/ font-size:12px;
        /*@editable*/ line-height:125%;
        /*@editable*/ text-align:left;
        margin-top: 15px;
        
      }

      /**
      * @tab Footer
      * @section footer link
      * @tip Set the styling for your email's footer links. Choose a color that helps them stand out from your text.
      */
      .footerContent div a:link, .footerContent div a:visited, /* Yahoo! Mail Override */ .footerContent div a .yshortcuts /* Yahoo! Mail Override */{
        /*@editable*/ color:#336699;
        /*@editable*/ font-weight:normal;
        /*@editable*/ text-decoration:underline;
      }

      .footerContent img{
        display:inline;
      }
      
      .footerContent 

      /**
      * @tab Footer
      * @section social bar style
      * @tip Set the background color and border for your email's footer social bar.
      * @theme footer
      */
      #social{
        /*@editable*/ 
        /*@editable*/ border:0;
      }
      
      /**
      * @tab Footer
      * @section social bar style
      * @tip Set the background color and border for your email's footer social bar.
      */
      #social div{
        /*@editable*/ text-align:center;
      }

      /**
      * @tab Footer
      * @section utility bar style
      * @tip Set the background color and border for your email's footer utility bar.
      * @theme footer
      */
      #utility{
        /*@editable*/ 
        /*@editable*/ border:0;
      }

      /**
      * @tab Footer
      * @section utility bar style
      * @tip Set the background color and border for your email's footer utility bar.
      */
      #utility div{
        /*@editable*/ text-align:center;
      }

      #monkeyRewards img{
        max-width:190px;
      }
      
      
      
      
      
      /**
      *
      * Inside Coupon
      *
      **/
      #insideCoupon{
        
        margin-top: 30px;
        margin-left: 30px;
        margin-bottom: 30px;
        background-color: #f1eee9;  
      }
      #insideCoupon #dashedlines{
        border: 3px dashed white;
        margin: 8px 12px;
        padding: 12px 16px;
        min-height: 144px;
        overflow: auto;
        
      }
      
      #contentleft{
        width: 144px;
        float: left;  
      }
      
      #contentright{
        float: left;
        margin-left: 16px;
        width:  246px;
        margin-top: 5px;
      }
      #contentright #title{
        font-size: 24px;
        font-family: Arial, Helvetica, sans-serif;
        color: #c4c0bb;
      }
      #contentright #text{
        font-size: 16px;
        font-weight: normal;
        color: #808080;
        display: block;
        padding-top: 3px;
      }
      #contentright #voucherid{
        font-size: 14px;
        font-style: italic;
        color: #808080;
      }
      
       /*
       * Header and Footer wrapper
       *
       */
      #headerfooterWrapper{
        border-top:1px solid #ccc9c3;      
        background-image: url("http://www.kylecopley.com/novationmobile/qwiqq/topbar-background.png");
        background-repeat: repeat-x;
      }
  %body{:leftmargin => "0", :marginheight => "0", :marginwidth => "0", :offset => "0", :topmargin => "0"}
    %center
      %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :height => "100%", :width => "100%", :id => "backgroundTable", :style => "color:red;background-image: url(email/background-patter.jpg)"}
        %tr
          %td{:align => "center", :valign => "top"}
            #headerfooterWrapper
              %table#templatePreheader{:border => "0", :cellpadding => "0", :cellspacing => "0"}
                %tr
                  %td.preheaderContent{:align => "center", :valign => "top"}
                    %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "532"}
                      %tr
                        %td{:valign => "top", :width => "143"}
                          #logo{"mc:edit" => "std_preheader_content"}
                            %a{:href => "#"}
                              %img{:src => "http://www.kylecopley.com/novationmobile/qwiqq/logo.jpg", :style => "padding-left:1px; border: 1px solid #e7e7e7; margin-left: 5px; margin-top: 3px;"}
                        %td{:valign => "top"}
                          %div{"mc:edit" => "std_preheader_links"}
                            #info
                              %span.seller
                                Seller
                                %br
                              %span.name 
                                = @deal.user.best_name
                            #purchase
                              %a.buynow{:href => "#"}
                                %img{:src => "http://www.kylecopley.com/novationmobile/qwiqq/buynow.gif"}
                              %span.price
                                = @deal.price_as_string
                    %table#templateContainer{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "532"}
                      %tr
                        %td{:align => "center", :valign => "top"}
                          <table border="0" border-spacing: "0" cellpadding="0" cellspacing="0" width="532" id="templateBody">
                          %tr
                            %td.bodyContent{:valign => "top", :width => "560"}
                              %table#insideCoupon{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "472"}
                                %tr
                                  %td{:style => "position: relative", :valign => "top"}
                                    %img{:align => "top", :src => "http://www.kylecopley.com/novationmobile/qwiqq/content-top.jpg"}
                                    #dashedlines
                                      #contentleft
                                        %img{:src => @deal.photo.url(:iphone_zoom), :width => "144", :height => "144" }
                                      #contentright
                                        %span#title 
                                          = @user.best_name
                                        %span#text 
                                          = @deal.name
                                        %span#voucherid Voucher ID: 39183
                                        %a{:href => "#"}
                                          %img{:src => "http://www.kylecopley.com/novationmobile/qwiqq/print.gif", :style => "padding-top:8px;"}
                                    %img{:align => "bottom", :src => "http://www.kylecopley.com/novationmobile/qwiqq/content-bottom.jpg", :style => "clear: both; position: bottom"}
                    %tr
                      %td{:align => "center", :valign => "top"}
                  - if @target
                    %tr
                      %td
                        %div{:style => "width:540px; margin:0 auto; color:#404040; font-size:8pt; padding:20px; text-align:center"}
                          #{link_to("Unsubscribe", update_user_notifications_url(@target), :style => "color:#404040")} from all Qwiqq notifications. If you would like to resubscribe you can change notification settings directly from your Qwiqq iPhone App.
                  %tr
                    %td{:style => "text-align:center; vertical-align:top; padding:20px"}
                      = image_tag "email/tagline.png"
                  %tr
                    %td{:style => "text-align:center; padding-bottom: 20px"}
                      = link_to "http://www.facebook.com/sharer/sharer.php?u=http://qwiqq.me", :style => "text-decoration: none; border: none"  do
                        = image_tag "email/facebook.png"
                      &nbsp;
                      = link_to "http://twitter.com/share?text=#{CGI::escape("I'm using @Qwiqq to share what I love to buy. http://qwiqq.me")}", :style => "text-decoration: none; border: none"  do
                        = image_tag "email/twitter.png"
                      &nbsp;
                      = link_to "mailto:?subject=Checkout Qwiqq!&body=http://qwiqq.me", :style => "text-decoration: none; border: none" do
                        = image_tag "email/email.png"