!!!
%html
  %head
    %title
      My Title
  %body{:leftmargin => "0", :marginheight => "0", :marginwidth => "0", :offset => "0", :topmargin => "0"}
    %center
      %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :height => "100%", :width => "100%", :id => "backgroundTable", :style => "color:red;background-image: url(email/background-patter.jpg)"}
        %tr
          %td{:align => "center", :valign => "top"}
            #headerfooterWrapper
              %table#templatePreheader{:border => "0", :cellpadding => "0", :cellspacing => "0"}
                %tr
                  %td.preheaderContent{:align => "center", :valign => "top"}
                    %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "532"}
                      %tr
                        %td{:valign => "top", :width => "143"}
                          #logo{"mc:edit" => "std_preheader_content"}
                            %a{:href => "#"}
                              %img{:src => "http://www.kylecopley.com/novationmobile/qwiqq/logo.jpg", :style => "padding-left:1px; border: 1px solid #e7e7e7; margin-left: 5px; margin-top: 3px;"}
                        %td{:valign => "top"}
                          %div{"mc:edit" => "std_preheader_links"}
                            #info
                              %span.seller
                                Seller
                                %br/
                              %span.name Paramount Music Hall
                            #purchase
                              %a.buynow{:href => "#"}
                                %img{:src => "http://www.kylecopley.com/novationmobile/qwiqq/buynow.gif"}
                              %span.price
                                = @deal.price_as_string
                    %table#templateContainer{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "532"}
                      %tr
                        %td{:align => "center", :valign => "top"}
                          %table{:border => "0", :border-spacing => "0", :cellpadding => "0", :cellspacing => "0", :width => "532", :id => "templateBody"}
                            %tr
                              %td.bodyContent{:valign => "top", :width => "560"}
                                %table#insideCoupon{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "472"}
                                  %tr
                                    %td{:style => "position: relative", :valign => "top"}
                                      %img{:align => "top", :src => "http://www.kylecopley.com/novationmobile/qwiqq/content-top.jpg"}
                                      #dashedlines
                                        #contentleft
                                          %img{:src => "http://www.kylecopley.com/novationmobile/qwiqq/main-image.jpg"}
                                        #contentright
                                          %span#title Paramount Purchase
                                          %span#text $29 for awesome Paramount Music Hall t-shirt
                                          %span#voucherid Voucher ID: 39183
                                          %a{:href => "#"}
                                            %img{:src => "http://www.kylecopley.com/novationmobile/qwiqq/print.gif", :style => "padding-top:8px;"}
                                      %img{:align => "bottom", :src => "http://www.kylecopley.com/novationmobile/qwiqq/content-bottom.jpg", :style => "clear: both; position: bottom"}
                    %tr
                      %td{:align => "center", :valign => "top"}
        - if @target
          %tr
            %td
              %div{:style => "width:540px; margin:0 auto; color:#404040; font-size:8pt; padding:20px; text-align:center"}
                #{link_to("Unsubscribe", update_user_notifications_url(@target), :style => "color:#404040")} from all Qwiqq notifications. If you would like to resubscribe you can change notification settings directly from your Qwiqq iPhone App.
        %tr
          %td{:style => "text-align:center; vertical-align:top; padding:20px"}
            = image_tag "email/tagline.png"
        %tr
          %td{:style => "text-align:center; padding-bottom: 20px"}
            = link_to "http://www.facebook.com/sharer/sharer.php?u=http://qwiqq.me", :style => "text-decoration: none; border: none"  do
              = image_tag "email/facebook.png"
            &nbsp;
            = link_to "http://twitter.com/share?text=#{CGI::escape("I'm using @Qwiqq to share what I love to buy. http://qwiqq.me")}", :style => "text-decoration: none; border: none"  do
              = image_tag "email/twitter.png"
            &nbsp;
            = link_to "mailto:?subject=Checkout Qwiqq!&body=http://qwiqq.me", :style => "text-decoration: none; border: none" do
            = image_tag "email/email.png"