%div{:style => "text-align:center; font-size:14pt; font-family: Arial; color:gray; font-weight: normal; padding-bottom: 10px"}
  = link_to(@user.username, user_url(@user), :style => "color:#ff7720; text-decoration:underline;") 
  says 
  %br
  "I use Qwiqq to share the things I love to buy!  You should too!"
  
  %div{:style => "text-align:center; font-size:14pt; color:black; margin:20px 0"}
    = link_to("Get the <b>free</b> app".html_safe, download_url, :style => "color:#ff7720; text-decoration:underline;")
    or 
    = link_to("Learn more", root_url, :style => "color:#ff7720; text-decoration:underline;")

  %div{:style => "text-align:center;"}
    = link_to download_url, :style => "border:none" do
      = image_tag "home-app-store.png"
