%div{:style => "margin:30px; margin-left: 50px; color: #00c2fe; font-size: 15pt"}
  Yay! You and #{@user.username} are now friends.

%div{:style => "background-color: #efefef; border: 1px solid #dedede; padding: 10px; border-radius: 10px; width: 580px; margin: 20px; font-size: 13pt; margin-left: 50px; min-height: 75px; line-height: 25px"}
  = image_tag @user.photo(:iphone_profile), :width => 75, :height => 75, :align => "left", :style => "margin-right: 10px; border-radius:10px"
  %strong{:style => "font-size:14pt; color:#000; font-weight: bold"}= @user.username
  %span{:style => "color: #858585"}= @user.name
  %br
  %span{:style => "color: #555555"}= @user.location

%table{:style => "margin:20px; margin-left: 40px; color: #00c2fe; font-size: 11pt; border-collapse: collapse"}
  %tr
    %td
      = image_tag "email/qwiqq-facts.png", :align => "center", :style => "padding-right: 5px"
      %strong Qwiqq Facts:
      A friendship is created when you and another Qwiqq user follow each other.
