%table{:style => "width: 580px; border-collapse: collapse; margin-left: 50px; margin-top: 20px"}
  %tr
    %td{:style => "text-align: left; color:#00c2fe; font-family: Arial; font-size: 14pt"}
      #{Qwiqq.random_sharing_prefix}
      = link_to @user.username, "qwiqq:///users/#{@user.id}",  :style => "color: #ff7720; text-decoration: underline"
      shared a deal with you on Qwiqq!

%div{:style => "background-color: #efefef; border: 1px solid #dedede; padding: 10px; border-radius: 10px; width: 580px; margin: 20px; font-size: 13pt; margin-left: 50px; min-height: 75px; line-height: 25px"}
  = image_tag @user.photo(:iphone_profile), :width => 75, :height => 75, :align => "left", :style => "margin-right: 10px; border-radius:10px"
  %strong{:style => "font-size:14pt; color:#000; font-weight: bold"}= @user.username
  %span{:style => "color: #858585"}= @user.name
  %br
  %span{:style => "color: #555555"}
    = link_to(strip_emoji(@deal.name), deal_url(@deal), :style => "color: #ff7720; text-decoration: underline")
    deal
  %br
  %span{:style => "color:#858585"}= @share.created_at.to_s(:long_ordinal)

