= link_to 'Data', api_deals_url(:format => :json), :class => 'right'
%h1= @title

%ul.nav
  %li= link_to_unless_current 'Recent', admin_deals_url
  - @categories.each do |c|
    %li
      = link_to_unless_current c.first.titleize, admin_category_deals_url(c.first)
      %small= "(#{c.last})"
%br

- unless @deals.blank?
  %table#deals
    %tr
      %th
      %th.name Name
      %th Comments      
      %th Category
      %th Location
      %th Price
      %th Percent
      %th.date Created
      %th.date Updated
    =render @deals

