= link_to 'Back', [:admin, :deals]
%h1= @deal.name.titleize
%p= "Saved by #{@deal.user.name} #{time_ago_in_words @deal.created_at} ago"

%dl
  %dt Name
  %dd= @deal.name
  %dt Category
  %dd= @deal.category.name
  %dt Price
  %dd= number_to_currency @deal.price/10
  %dt Percent
  %dd= number_to_percentage(@deal.percent, :precision => 0)
  %dt Image
  %dd= @deal.photo.blank? ? 'No photo' : image_tag(@deal.photo.url(:iphone2x))
  
%h2 Comments
%ul
- @deal.comments.each do |c|
  %li
    %b= c.created_at.to_s(:short)
    = c.body
  
    
