!!!
%html
  %head
    %title Qwiqq
    = stylesheet_link_tag "reset", "application", "emoji-iphone"
    = javascript_include_tag "jquery", "jquery.scrollto", "jquery.cycle", "application"
    = csrf_meta_tag
  %body
    = yield
    - if Rails.env.production?
      = render "shared/google_analytics"

