!!!
%html
  %head
    %meta{ :charset => "utf-8" }
    %meta{ "http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1" }
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1" }
    %title Qwiqq | Welcome!
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tag
    %meta(property="fb:app_id" content="236767206341724")
    %meta(property="og:site_name" content="Qwiqq.me")
    %meta(property="og:title" content="Qwiqq")
    %meta(property="og:description" content="A fun way to share the things you love to buy.")
    %meta(property="og:image" content="#{root_url.chomp('/')}#{asset_path('home-qwiqq-logo.png')}")
    %meta(property="og:url" content=root_url)

      
  %body{ :class => "#{controller_name} #{action_name}" }
= render "shared/header_home"
= yield
%h5 Who's Talking About Us:
%a{:href => "http://nibletz.com/"}
  %img{:border => "0", :onmouseout => "this.src='/assets/Black-White/nibletz.png'", :onmouseover => "this.src='/assets/Color/nibletz.png'", :src => "/assets/Black-White/nibletz.png"}/
%a{:href => "http://techwildcatters.com/"}
  %img{:border => "0", :onmouseout => "this.src='/assets/Black-White/tech_wildcatters.png'", :onmouseover => "this.src='/assets/Color/tech_wildcatters.png'", :src => "/assets/Black-White/tech_wildcatters.png"}/
%a{:href => "http://www.sfgate.com/chronicle/"}
  %img{:border => "0", :onmouseout => "this.src='/assets/Black-White/San Francisco Chronicle-1.png'", :onmouseover => "this.src='/assets/Color/San Francisco Chronicle.png'", :src => "/assets/Black-White/San Francisco Chronicle-1.png"}/
%a{:href => ""}
  %img{:border => "0", :onmouseout => "this.src='/assets/Black-White/TeXchange.png'", :onmouseover => "this.src='/assets/Color/TeXchange.png'", :src => "/assets/Black-White/TeXchange.png"}/
%a{:href => "http://www.huffingtonpost.com/"}
  %img{:border => "0", :onmouseout => "this.src='/assets/Black-White/The Huffington Post.png'", :onmouseover => "this.src='/assets/Color/The Huffington Post.png'", :src => "/assets/Black-White/The Huffington Post.png"}/
%a{:href => "http://techcocktail.com/"}
  %img{:border => "0", :onmouseout => "this.src='/assets/Black-White/TECH Cocktail.png'", :onmouseover => "this.src='/assets/Color/TECH Cocktail.png'", :src => "/assets/Black-White/TECH Cocktail.png"}/
%a{:href => "http://launchdfw.com/"}
  %img{:border => "0", :onmouseout => "this.src='/assets/Black-White/Launch DFW.png'", :onmouseover => "this.src='/assets/Color/Launch DFW.png'", :src => "/assets/Black-White/Launch DFW.png"}/
%a{:href => "http://www.chron.com/"}
  %img{:border => "0", :onmouseout => "this.src='/assets/Black-White/Chron.com.png'", :onmouseover => "this.src='/assets/Color/Chron.com.png'", :src => "/assets/Black-White/Chron.com.png"}/
%a{:href => "http://www.seattlepi.com/"}
  %img{:border => "0", :onmouseout => "this.src='/assets/Black-White/Seattle pi.png'", :onmouseover => "this.src='/assets/Color/Seattle pi.png'", :src => "/assets/Black-White/Seattle pi.png"}/
%a{:href => "http://www.dallasnews.com/"}
  %img{:border => "0", :onmouseout => "this.src='/assets/Black-White/The Dallas Morning News.png'", :onmouseover => "this.src='/assets/Color/The Dallas Morning News.png'", :src => "/assets/Black-White/The Dallas Morning News.png"}/
%a{:href => "http://www.fueled.com/"}
  %img{:border => "0", :onmouseout => "this.src='/assets/Black-White/fueled.png'", :onmouseover => "this.src='/assets/Color/fueled.png'", :src => "/assets/Black-White/fueled.png"}/
%a{:href => "http://www.mercurynews.com/"}
  %img{:border => "0", :onmouseout => "this.src='/assets/Black-White/san_jose_mercury_news.png'", :onmouseover => "this.src='/assets/Color/san_jose_mercury_news.png'", :src => "/assets/Black-White/san_jose_mercury_news.png"}/
%a{:href => "http://www.startuphouston.com/"}
  %img{:border => "0", :onmouseout => "this.src='/assets/Black-White/startup_houston.png'", :onmouseover => "this.src='/assets/Color/startup_houston.png'", :src => "/assets/Black-White/startup_houston.png"}/
%a{:href => "http://www.livetoclose.com/"}
  %img{:border => "0", :onmouseout => "this.src='/assets/Black-White/LivetoClose.png'", :onmouseover => "this.src='/assets/Color/LivetoClose.png'", :src => "/assets/Black-White/LivetoClose.png"}/
%a{:href => "http://www.restaurantville.com/"}
  %img{:border => "0", :onmouseout => "this.src='/assets/Black-White/TRA.png'", :onmouseover => "this.src='/assets/Color/TRA.png'", :src => "/assets/Black-White/TRA.png"}/
%a{:href => "http://www.s.co/"}
  %img{:border => "0", :onmouseout => "this.src='/assets/Black-White/Startup-America_logo.png'", :onmouseover => "this.src='/assets/Color/Startup-America_logo.png'", :src => "/assets/Black-White/Startup-America_logo.png"}/
%h5 Businesses Using Qwiqq:
%a{:href => "http://www.bluemesagrill.com/"}
  %img{:border => "0", :onmouseout => "this.src='/assets/Black-White/Blue Mesa Grill.png'", :onmouseover => "this.src='/assets/Color/Blue Mesa Grill.png'", :src => "/assets/Black-White/Blue Mesa Grill.png"}/
%a{:href => "http://www.cornerbakerycafe.com/"}
  %img{:border => "0", :onmouseout => "this.src='/assets/Black-White/Corner Bakery Cafe.png'", :onmouseover => "this.src='/assets/Color/Corner Bakery Cafe.png'", :src => "/assets/Black-White/Corner Bakery Cafe.png"}/
%a{:href => "http://www.thebluefishsushi.com/"}
  %img{:border => "0", :onmouseout => "this.src='/assets/Black-White/The Blue Fish.png'", :onmouseover => "this.src='/assets/Color/The Blue Fish.png'", :src => "/assets/Black-White/The Blue Fish.png"}/
%a{:href => "http://gooddogfoodtruck.com/"}
  %img{:border => "0", :onmouseout => "this.src='/assets/Black-White/GoodDog.png'", :onmouseover => "this.src='/assets/Color/GoodDog.png'", :src => "/assets/Black-White/GoodDog.png"}/
%a{:href => "http://thegentsplace.com/"}
  %img{:border => "0", :onmouseout => "this.src='/assets/Black-White/gents.png'", :onmouseover => "this.src='/assets/Color/gents.png'", :src => "/assets/Black-White/gents.png"}/
%a{:href => "http://www.ziggysbarandgrill.com/"}
  %img{:border => "0", :onmouseout => "this.src='/assets/Black-White/ziggys.png'", :onmouseover => "this.src='/assets/Color/ziggys.png'", :src => "/assets/Black-White/ziggys.png"}/
%a{:href => "http://www.skydivespaceland.com/"}
  %img{:border => "0", :onmouseout => "this.src='/assets/Black-White/Skydive Spaceland.png'", :onmouseover => "this.src='/assets/Color/Skydive Spaceland.png'", :src => "/assets/Black-White/Skydive Spaceland.png"}/
%a{:href => "http://www.smoothiefactory.com/"}
  %img{:border => "0", :onmouseout => "this.src='/assets/Black-White/Smoothie.png'", :onmouseover => "this.src='/assets/Color/Smoothie.png'", :src => "/assets/Black-White/Smoothie.png"}/
%a{:href => "http://www.crossroads-diner.com/"}
  %img{:border => "0", :onmouseout => "this.src='/assets/Black-White/Crossroads Diner.png'", :onmouseover => "this.src='/assets/Color/Crossroads Diner.png'", :src => "/assets/Black-White/Crossroads Diner.png"}/
%a{:href => ""}
  %img{:border => "0", :onmouseout => "this.src='/assets/Black-White/raku.png'", :onmouseover => "this.src='/assets/Color/raku.png'", :src => "/assets/Black-White/raku.png"}/
%a{:href => "http://www.thestanddallas.com/"}
  %img{:border => "0", :onmouseout => "this.src='/assets/Black-White/The Stand.png'", :onmouseover => "this.src='/assets/Color/The Stand.png'", :src => "/assets/Black-White/The Stand.png"}/
= render "shared/footer_home"
= render "shared/google_analytics"

