!!!
%html
  %head
    %meta{ :charset => "utf-8" }
    %meta{ "http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1" }
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1" }
    %title Qwiqq | Welcome!
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tag
    %meta(property="fb:app_id" content="236767206341724")
    %meta(property="og:site_name" content="Qwiqq.me")
    %meta(property="og:title" content="Qwiqq")
    %meta(property="og:description" content="A fun way to share the things you love to buy.")
    %meta(property="og:image" content="#{root_url.chomp('/')}#{asset_path('home-qwiqq-logo.png')}")
    %meta(property="og:url" content=root_url)

      
  %body{ :class => "#{controller_name} #{action_name}" }
= render "shared/header_home"
= yield
%h5 Who's Talking About Us:

%div{:style => "width:1226px; background-color:white; height:80px; overflow:hidden;"}
  %div{:style => "width: 1226px; height: 75px;"}
    %a{:href => "http://techwildcatters.com/"}
      %img{:border => "0", :onmouseout => "this.src='/assets/Black-White/tech_wildcatters.png';", :onmouseover => "this.src='/assets/Color/TWC-2.png';", :src => "/assets/Black-White/tech_wildcatters.png", :style => "margin-left: 6px; width: 117px; height: 70px;"}/

    %a{:href => ""}
      %img{:border => "0", :onmouseout => "this.src='/assets/Black-White/TeXchange.png';", :onmouseover => "this.src='/assets/Color/TeXchange.png';", :src => "/assets/Black-White/TeXchange.png", :style => "margin-left: 8px; width: 170px; height: 70px;"}/
    %a{:href => "http://www.huffingtonpost.com/"}
      %img{:border => "0", :onmouseout => "this.src='/assets/Black-White/The Huffington Post.png';", :onmouseover => "this.src='/assets/Color/The Huffington Post.png';", :src => "/assets/Black-White/The Huffington Post.png", :style => "margin-left: 8px; width: 135px; height: 70px;"}/
    %a{:href => "http://techcocktail.com/"}
      %img{:border => "0", :onmouseout => "this.src='/assets/Black-White/TECH Cocktail.png';", :onmouseover => "this.src='/assets/Color/TECH Cocktail.png';", :src => "/assets/Black-White/TECH Cocktail.png", :style => "margin-left: 8px; width: 70px; height: 70px;"}/
    %a{:href => "http://launchdfw.com/"}
      %img{:border => "0", :onmouseout => "this.src='/assets/Black-White/Launch DFW.png';", :onmouseover => "this.src='/assets/Color/Launch DFW.png';", :src => "/assets/Black-White/Launch DFW.png", :style => "margin-left: 8px; width: 155px; height: 70px;"}/
    %a{:href => "http://www.dallasnews.com/"}
      %img{:border => "0", :onmouseout => "this.src='/assets/Black-White/The Dallas Morning News.png';", :onmouseover => "this.src='/assets/Color/The Dallas Morning News.png';", :src => "/assets/Black-White/The Dallas Morning News.png", :style => "margin-left: 8px; width: 160px; height: 70px;"}/
    %a{:href => "http://www.fueled.com/"}
      %img{:border => "0", :onmouseout => "this.src='/assets/Black-White/fueled-1.png';", :onmouseover => "this.src='/assets/Color/Fueled-1.png';", :src => "/assets/Black-White/fueled-1.png", :style => "margin-left: 8px; width: 70px; height: 70px;"}/
    %a{:href => "http://www.s.co/"}
      %img{:border => "0", :onmouseout => "this.src='/assets/Black-White/Startup-America-Logo.png';", :onmouseover => "this.src='/assets/Color/startup-america-logo.png';", :src => "/assets/Black-White/Startup-America-Logo.png", :style => "margin-left: 8px; width: 247px; height: 70px;"}/

%h5 Businesses Using Qwiqq:

%div{:style => "width:1226px; background-color:white; height:80px; overflow:hidden;"}
  %div{:style => "width: 1226px; height: 75px;"}
    %a{:href => "http://www.bluemesagrill.com/"}
      %img{:border => "0", :onmouseout => "this.src='/assets/Black-White/Blue Mesa Grill.png';", :onmouseover => "this.src='/assets/Color/Blue Mesa Grill.png';", :src => "/assets/Black-White/Blue Mesa Grill.png", :style => "margin-left: 71px; width: 140px; height: 70px;"}/
    %a{:href => "http://www.cornerbakerycafe.com/"}
      %img{:border => "0", :onmouseout => "this.src='/assets/Black-White/Corner Bakery Cafe.png';", :onmouseover => "this.src='/assets/Color/Corner Bakery Cafe.png';", :src => "/assets/Black-White/Corner Bakery Cafe.png", :style => "margin-left: 6px; width: 70px; height: 70px;"}/
    %a{:href => "http://www.thebluefishsushi.com/"}
      %img{:border => "0", :onmouseout => "this.src='/assets/Black-White/The Blue Fish.png';", :onmouseover => "this.src='/assets/Color/The Blue Fish.png';", :src => "/assets/Black-White/The Blue Fish.png", :style => "margin-left: 8px; width: 70px; height: 70px;"}/
    %a{:href => "http://gooddogfoodtruck.com/"}
      %img{:border => "0", :onmouseout => "this.src='/assets/Black-White/GoodDog.png';", :onmouseover => "this.src='/assets/Color/GoodDog.png';", :src => "/assets/Black-White/GoodDog.png", :style => "margin-left: 8px; width: 74px; height: 70px;"}/
    %a{:href => "http://thegentsplace.com/"}
      %img{:border => "0", :onmouseout => "this.src='/assets/Black-White/gents.png';", :onmouseover => "this.src='/assets/Color/gents.png';", :src => "/assets/Black-White/gents.png", :style => "margin-left: 8px; width: 110px; height: 70px;"}/
    %a{:href => "http://www.ziggysbarandgrill.com/"}
      %img{:border => "0", :onmouseout => "this.src='/assets/Black-White/ziggys.png';", :onmouseover => "this.src='/assets/Color/ziggys.png';", :src => "/assets/Black-White/ziggys.png", :style => "margin-left: 8px; width: 65px; height: 70px;"}/
    %a{:href => "http://www.skydivespaceland.com/"}
      %img{:border => "0", :onmouseout => "this.src='/assets/Black-White/Skydive Spaceland.png';", :onmouseover => "this.src='/assets/Color/Skydive Spaceland.png';", :src => "/assets/Black-White/Skydive Spaceland.png", :style => "margin-left: 8px; width: 70px; height: 70px;"}/
    %a{:href => "http://www.smoothiefactory.com/"}
      %img{:border => "0", :onmouseout => "this.src='/assets/Black-White/Smoothie.png';", :onmouseover => "this.src='/assets/Color/Smoothie.png';", :src => "/assets/Black-White/Smoothie.png", :style => "margin-left: 8px; width: 70px; height: 70px;"}/
    %a{:href => "http://www.crossroads-diner.com/"}
      %img{:border => "0", :onmouseout => "this.src='/assets/Black-White/Crossroads Diner.png';", :onmouseover => "this.src='/assets/Color/Crossroads Diner.png';", :src => "/assets/Black-White/Crossroads Diner.png", :style => "margin-left: 8px; width: 70px; height: 70px;"}/
    %a{:href => "http://www.thestanddallas.com/"}
      %img{:border => "0", :onmouseout => "this.src='/assets/Black-White/The Stand.png';", :onmouseover => "this.src='/assets/Color/The Stand.png';", :src => "/assets/Black-White/The Stand.png", :style => "margin-left: 8px; width: 18px; height: 70px;"}/
    %a{:href => "http://www.ragin-cajun.com/"}
      %img{:border => "0", :onmouseout => "this.src='/assets/Black-White/ragin-cajun.png';", :onmouseover => "this.src='/assets/Color/ragin-cajun.png';", :src => "/assets/Black-White/ragin-cajun.png", :style => "margin-left: 8px; width: 107px; height: 70px;"}/
    %a{:href => "http://www.tenshisushi.net/"}
      %img{:border => "0", :onmouseout => "this.src='/assets/Black-White/tenshi_sushi.png';", :onmouseover => "this.src='/assets/Color/tenshi_sushi.png';", :src => "/assets/Black-White/tenshi_sushi.png", :style => "margin-left: 8px; width: 125px; height: 70px;"}/

= render "shared/footer_home"
= render "shared/google_analytics"

