!!!
%html
  %head
    %meta{ :charset => "utf-8" }
    %meta{ "http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1" }
    %meta#resizeViewport{ :name => "viewport", :content => "width=850, initial-scale=.9" }
    %title Qwiqq | Welcome!
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = javascript_include_tag "merchantsFloater"
    = csrf_meta_tag
    %meta(property="fb:app_id" content="236767206341724")
    %meta(property="og:site_name" content="Qwiqq.me")
    %meta(property="og:title" content="Qwiqq")
    %meta(property="og:description" content="A fun way to share the things you love to buy.")
    %meta(property="og:image" content="#{root_url.chomp('/')}#{asset_path('home-qwiqq-logo.png')}")
    %meta(property="og:url" content=root_url)
    %meta{:content => "width = 400", :name => "viewport"}
    :javascript
      if (screen.width < 700) {
        var mvp = document.getElementById('resizeViewport');
        mvp.setAttribute('content','width=950');
        mvp.setAttribute('content','initial-scale=.34');
      }

%body{ :class => "#{controller_name} #{action_name}" }
= render "shared/header_home"
= yield
#businesses
  #footer{:style => "min-height: 50px !important;"}
    .container
      .boxes.info
        .box.logo
    #content
      .container
        #logos
          %fieldset
            %legend
              %span.title Who's Talking About Us
    #businessimage
      %img{:border => "0", :src => "/assets/Logo-Top-BW.png", :style => "margin-left: 2%; margin-right: 2%; width: 96%; height: auto;"}/

= render "shared/footer_home"
= render "shared/google_analytics"

