!!!
%html
  %head
    %meta{ :charset => "utf-8" }
    %meta{ "http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1" }
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1" }
    %title Qwiqq | Welcome!
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tag
    %meta(property="fb:app_id" content="236767206341724")
    %meta(property="og:site_name" content="Qwiqq.me")
    %meta(property="og:title" content="Qwiqq")
    %meta(property="og:description" content="A fun way to share the things you love to buy.")
    %meta(property="og:image" content="#{root_url.chomp('/')}#{asset_path('home-qwiqq-logo.png')}")
    %meta(property="og:url" content=root_url)

      
  %body{ :class => "#{controller_name} #{action_name}" }
= render "shared/header_home"
= yield
%h5 Who's Talking About Us:

%div{:style => "width:1400px; background-color:transparent; height:204px; overflow:hidden;"}
  %div{:style => "width: 6000px; height: 204px;"}
    %a{:href => "http://nibletz.com/"}
      %img{:border => "0", :height => "70", :onmouseout => "this.src='/assets/Black-White/nibletz.png';", :onmouseover => "this.src='/assets/Color/nibletz.png';", :src => "/assets/Black-White/nibletz.png", :width => "499"}/
    %a{:href => "http://techwildcatters.com/"}
      %img{:border => "0", :height => "70", :onmouseout => "this.src='/assets/Black-White/tech_wildcatters.png';", :onmouseover => "this.src='/assets/Color/TWC-2png';", :src => "/assets/Black-White/tech_wildcatters.png", :width => "117"}/
    %a{:href => "http://www.sfgate.com/chronicle/"}
      %img{:border => "0", :height => "70", :onmouseout => "this.src='/assets/Black-White/San Francisco Chronicle-1.png';", :onmouseover => "this.src='/assets/Color/San Francisco Chronicle.png';", :src => "/assets/Black-White/San Francisco Chronicle-1.png", :width => "409"}/
    %a{:href => ""}
      %img{:border => "0", :height => "70", :onmouseout => "this.src='/assets/Black-White/TeXchange.png';", :onmouseover => "this.src='/assets/Color/TeXchange.png';", :src => "/assets/Black-White/TeXchange.png", :width => "198"}/
    %a{:href => "http://www.huffingtonpost.com/"}
      %img{:border => "0", :height => "70", :onmouseout => "this.src='/assets/Black-White/The Huffington Post.png';", :onmouseover => "this.src='/assets/Color/The Huffington Post.png';", :src => "/assets/Black-White/The Huffington Post.png", :width => "141"}/
    %a{:href => "http://techcocktail.com/"}
      %img{:border => "0", :height => "70", :onmouseout => "this.src='/assets/Black-White/TECH Cocktail.png';", :onmouseover => "this.src='/assets/Color/TECH Cocktail.png';", :src => "/assets/Black-White/TECH Cocktail.png", :width => "70"}/
    %a{:href => "http://launchdfw.com/"}
      %img{:border => "0", :height => "70", :onmouseout => "this.src='/assets/Black-White/Launch DFW.png';", :onmouseover => "this.src='/assets/Color/Launch DFW.png';", :src => "/assets/Black-White/Launch DFW.png", :width => "155"}/
    %a{:href => "http://www.chron.com/"}
      %img{:border => "0", :height => "70", :onmouseout => "this.src='/assets/Black-White/Chron.com';", :onmouseover => "this.src='/assets/Color/Chron.com';", :src => "/assets/Black-White/Chron.com", :width => "359"}/
    %a{:href => "http://www.seattlepi.com/"}
      %img{:border => "0", :height => "70", :onmouseout => "this.src='/assets/Black-White/Seattle pi.png';", :onmouseover => "this.src='/assets/Color/Seattle pi.png';", :src => "/assets/Black-White/Seattle pi.png", :width => "170"}/
    %a{:href => "http://www.dallasnews.com/"}
      %img{:border => "0", :height => "70", :onmouseout => "this.src='/assets/Black-White/The Dallas Morning News.png';", :onmouseover => "this.src='/assets/Color/The Dallas Morning News.png';", :src => "/assets/Black-White/The Dallas Morning News.png", :width => "170"}/
    %a{:href => "http://www.fueled.com/"}
      %img{:border => "0", :height => "70", :onmouseout => "this.src='/assets/Black-White/fueled.png';", :onmouseover => "this.src='/assets/Color/fueled.png';", :src => "/assets/Black-White/fueled.png", :width => "170"}/
    %a{:href => "http://www.mercurynews.com/"}
      %img{:border => "0", :height => "70", :onmouseout => "this.src='/assets/Black-White/san_jose_mercury_news.png';", :onmouseover => "this.src='/assets/Color/san_jose_mercury_news.png';", :src => "/assets/Black-White/san_jose_mercury_news.png", :width => "527"}/
    %a{:href => "http://www.startuphouston.com/"}
      %img{:border => "0", :height => "70", :onmouseout => "this.src='/assets/Black-White/startup_houston.png';", :onmouseover => "this.src='/assets/Color/Startup Houston.gif';", :src => "/assets/Black-White/startup_houston.png", :width => "170"}/
    %a{:href => "http://www.livetoclose.com/"}
      %img{:border => "0", :height => "70", :onmouseout => "this.src='/assets/Black-White/LivetoClose.png';", :onmouseover => "this.src='/assets/Color/LivetoClose.png';", :src => "/assets/Black-White/LivetoClose.png", :width => "170"}/
    %a{:href => "http://www.restaurantville.com/"}
      %img{:border => "0", :height => "70", :onmouseout => "this.src='/assets/Black-White/TRA.png';", :onmouseover => "this.src='/assets/Color/TRA-Logo.png';", :src => "/assets/Black-White/TRA.png", :width => "170"}/
    %a{:href => "http://www.s.co/"}
      %img{:border => "0", :height => "70", :onmouseout => "this.src='/assets/Black-White/Startup-America-Logo.png';", :onmouseover => "this.src='/assets/Color/startup-america-logo.png';", :src => "/assets/Black-White/Startup-America-Logo.png", :width => "170"}/
%div{:style => "width:1400px; background-color:transparent; height:204px; overflow:hidden;"}
  %div{:style => "width: 2000px; height: 90px;"}
    %a{:href => "placeholder"}
      %img{:height => "204", :onmouseout => "this.src='/assets/Black-White/placeholder';", :onmouseover => "this.src='/assets/Color/placeholder';", :src => "/assets/Black-White/placeholder", :width => "170"}/
    %a{:href => "placeholder"}
      %img{:height => "204", :onmouseout => "this.src='/assets/Black-White/placeholder';", :onmouseover => "this.src='/assets/Color/placeholder';", :src => "/assets/Black-White/placeholder", :width => "170"}/
    %a{:href => "placeholder"}
      %img{:height => "204", :onmouseout => "this.src='/assets/Black-White/placeholder';", :onmouseover => "this.src='/assets/Color/placeholder';", :src => "/assets/Black-White/placeholder", :width => "170"}/
    %a{:href => "placeholder"}
      %img{:height => "204", :onmouseout => "this.src='/assets/Black-White/placeholder';", :onmouseover => "this.src='/assets/Color/placeholder';", :src => "/assets/Black-White/placeholder", :width => "170"}/
    %a{:href => "placeholder"}
      %img{:height => "204", :onmouseout => "this.src='/assets/Black-White/placeholder';", :onmouseover => "this.src='/assets/Color/placeholder';", :src => "/assets/Black-White/placeholder", :width => "170"}/
    %a{:href => "placeholder"}
      %img{:height => "204", :onmouseout => "this.src='/assets/Black-White/placeholder';", :onmouseover => "this.src='/assets/Color/placeholder';", :src => "/assets/Black-White/placeholder", :width => "170"}/
    %a{:href => "placeholder"}
      %img{:height => "204", :onmouseout => "this.src='/assets/Black-White/placeholder';", :onmouseover => "this.src='/assets/Color/placeholder';", :src => "/assets/Black-White/placeholder", :width => "170"}/
    %a{:href => "placeholder"}
      %img{:height => "204", :onmouseout => "this.src='/assets/Black-White/placeholder';", :onmouseover => "this.src='/assets/Color/placeholder';", :src => "/assets/Black-White/placeholder", :width => "170"}/
    %a{:href => "placeholder"}
      %img{:height => "204", :onmouseout => "this.src='/assets/Black-White/placeholder';", :onmouseover => "this.src='/assets/Color/placeholder';", :src => "/assets/Black-White/placeholder", :width => "170"}/
    %a{:href => "placeholder"}
      %img{:height => "204", :onmouseout => "this.src='/assets/Black-White/placeholder';", :onmouseover => "this.src='/assets/Color/placeholder';", :src => "/assets/Black-White/placeholder", :width => "170"}/
    %a{:href => "placeholder"}
      %img{:height => "204", :onmouseout => "this.src='/assets/Black-White/placeholder';", :onmouseover => "this.src='/assets/Color/placeholder';", :src => "/assets/Black-White/placeholder", :width => "170"}/
    %a{:href => "placeholder"}
      %img{:height => "204", :onmouseout => "this.src='/assets/Black-White/placeholder';", :onmouseover => "this.src='/assets/Color/placeholder';", :src => "/assets/Black-White/placeholder", :width => "170"}/
    %a{:href => "placeholder"}
      %img{:height => "204", :onmouseout => "this.src='/assets/Black-White/placeholder';", :onmouseover => "this.src='/assets/Color/placeholder';", :src => "/assets/Black-White/placeholder", :width => "170"}/
    %a{:href => "placeholder"}
      %img{:height => "204", :onmouseout => "this.src='/assets/Black-White/placeholder';", :onmouseover => "this.src='/assets/Color/placeholder';", :src => "/assets/Black-White/placeholder", :width => "170"}/
    %a{:href => "placeholder"}
      %img{:height => "204", :onmouseout => "this.src='/assets/Black-White/placeholder';", :onmouseover => "this.src='/assets/Color/placeholder';", :src => "/assets/Black-White/placeholder", :width => "170"}/
    %a{:href => "placeholder"}
      %img{:height => "204", :onmouseout => "this.src='/assets/Black-White/placeholder';", :onmouseover => "this.src='/assets/Color/placeholder';", :src => "/assets/Black-White/placeholder", :width => "170"}/
    %a{:href => "placeholder"}
      %img{:height => "204", :onmouseout => "this.src='/assets/Black-White/placeholder';", :onmouseover => "this.src='/assets/Color/placeholder';", :src => "/assets/Black-White/placeholder", :width => "170"}/
    %a{:href => "placeholder"}
      %img{:height => "204", :onmouseout => "this.src='/assets/Black-White/placeholder';", :onmouseover => "this.src='/assets/Color/placeholder';", :src => "/assets/Black-White/placeholder", :width => "170"}/
    %a{:href => "placeholder"}
      %img{:height => "204", :onmouseout => "this.src='/assets/Black-White/placeholder';", :onmouseover => "this.src='/assets/Color/placeholder';", :src => "/assets/Black-White/placeholder", :width => "170"}/
    %a{:href => "placeholder"}
      %img{:height => "204", :onmouseout => "this.src='/assets/Black-White/placeholder';", :onmouseover => "this.src='/assets/Color/placeholder';", :src => "/assets/Black-White/placeholder", :width => "170"}/
    %a{:href => "placeholder"}
      %img{:height => "204", :onmouseout => "this.src='/assets/Black-White/placeholder';", :onmouseover => "this.src='/assets/Color/placeholder';", :src => "/assets/Black-White/placeholder", :width => "170"}/
    %a{:href => "placeholder"}
      %img{:height => "204", :onmouseout => "this.src='/assets/Black-White/placeholder';", :onmouseover => "this.src='/assets/Color/placeholder';", :src => "/assets/Black-White/placeholder", :width => "170"}/
    %a{:href => "placeholder"}
      %img{:height => "204", :onmouseout => "this.src='/assets/Black-White/placeholder';", :onmouseover => "this.src='/assets/Color/placeholder';", :src => "/assets/Black-White/placeholder", :width => "170"}/
    %a{:href => "placeholder"}
      %img{:height => "204", :onmouseout => "this.src='/assets/Black-White/placeholder';", :onmouseover => "this.src='/assets/Color/placeholder';", :src => "/assets/Black-White/placeholder", :width => "170"}/
    %a{:href => "placeholder"}
      %img{:height => "204", :onmouseout => "this.src='/assets/Black-White/placeholder';", :onmouseover => "this.src='/assets/Color/placeholder';", :src => "/assets/Black-White/placeholder", :width => "170"}/
    %a{:href => "placeholder"}
      %img{:height => "204", :onmouseout => "this.src='/assets/Black-White/placeholder';", :onmouseover => "this.src='/assets/Color/placeholder';", :src => "/assets/Black-White/placeholder", :width => "170"}/
    %a{:href => "placeholder"}
      %img{:height => "204", :onmouseout => "this.src='/assets/Black-White/placeholder';", :onmouseover => "this.src='/assets/Color/placeholder';", :src => "/assets/Black-White/placeholder", :width => "170"}/
    %a{:href => "placeholder"}
      %img{:height => "204", :onmouseout => "this.src='/assets/Black-White/placeholder';", :onmouseover => "this.src='/assets/Color/placeholder';", :src => "/assets/Black-White/placeholder", :width => "170"}/
    %a{:href => "placeholder"}
      %img{:height => "204", :onmouseout => "this.src='/assets/Black-White/placeholder';", :onmouseover => "this.src='/assets/Color/placeholder';", :src => "/assets/Black-White/placeholder", :width => "170"}/
    %a{:href => "placeholder"}
      %img{:height => "204", :onmouseout => "this.src='/assets/Black-White/placeholder';", :onmouseover => "this.src='/assets/Color/placeholder';", :src => "/assets/Black-White/placeholder", :width => "170"}/
    %a{:href => "placeholder"}
      %img{:height => "204", :onmouseout => "this.src='/assets/Black-White/placeholder';", :onmouseover => "this.src='/assets/Color/placeholder';", :src => "/assets/Black-White/placeholder", :width => "170"}/
    %a{:href => "placeholder"}
      %img{:height => "204", :onmouseout => "this.src='/assets/Black-White/placeholder';", :onmouseover => "this.src='/assets/Color/placeholder';", :src => "/assets/Black-White/placeholder", :width => "170"}/
    %a{:href => "placeholder"}
      %img{:height => "204", :onmouseout => "this.src='/assets/Black-White/placeholder';", :onmouseover => "this.src='/assets/Color/placeholder';", :src => "/assets/Black-White/placeholder", :width => "170"}/
    %a{:href => "placeholder"}
      %img{:height => "204", :onmouseout => "this.src='/assets/Black-White/placeholder';", :onmouseover => "this.src='/assets/Color/placeholder';", :src => "/assets/Black-White/placeholder", :width => "170"}/
    %a{:href => "placeholder"}
      %img{:height => "204", :onmouseout => "this.src='/assets/Black-White/placeholder';", :onmouseover => "this.src='/assets/Color/placeholder';", :src => "/assets/Black-White/placeholder", :width => "170"}/
    %a{:href => "placeholder"}
      %img{:height => "204", :onmouseout => "this.src='/assets/Black-White/placeholder';", :onmouseover => "this.src='/assets/Color/placeholder';", :src => "/assets/Black-White/placeholder", :width => "170"}/
    %a{:href => "placeholder"}
      %img{:height => "204", :onmouseout => "this.src='/assets/Black-White/placeholder';", :onmouseover => "this.src='/assets/Color/placeholder';", :src => "/assets/Black-White/placeholder", :width => "170"}/
    %a{:href => "placeholder"}
      %img{:height => "204", :onmouseout => "this.src='/assets/Black-White/placeholder';", :onmouseover => "this.src='/assets/Color/placeholder';", :src => "/assets/Black-White/placeholder", :width => "170"}/
    %a{:href => "placeholder"}
      %img{:height => "204", :onmouseout => "this.src='/assets/Black-White/placeholder';", :onmouseover => "this.src='/assets/Color/placeholder';", :src => "/assets/Black-White/placeholder", :width => "170"}/
    %a{:href => "placeholder"}
      %img{:height => "204", :onmouseout => "this.src='/assets/Black-White/placeholder';", :onmouseover => "this.src='/assets/Color/placeholder';", :src => "/assets/Black-White/placeholder", :width => "170"}/​​
= render "shared/footer_home"
= render "shared/google_analytics"

