!!!
%html
  %head
    %meta{ :charset => "utf-8" }
    %meta{ "http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1" }
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1" }
    %title Qwiqq | Welcome!
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tag
    %meta(property="fb:app_id" content="236767206341724")
    %meta(property="og:site_name" content="Qwiqq.me")
    %meta(property="og:title" content="Qwiqq")
    %meta(property="og:description" content="A fun way to share the things you love to buy.")
    %meta(property="og:image" content="#{root_url.chomp('/')}#{asset_path('home-qwiqq-logo.png')}")
    %meta(property="og:url" content=root_url)

%body{ :class => "#{controller_name} #{action_name}" }
= render "shared/header_home"
= yield
:javascript
    if ((navigator.userAgent.match(/iPhone/i)) || (navigator.userAgent.match(/iPod/i)) || (navigator.userAgent.match(/iPad/i))) {
        document.write("Mobile");
  }
    else{
         $("#logo").append('shared/logos');
  }
#logo
  #footer
    .container
      .boxes.info
        .box.logo
    #content
      .container
        #logos
          %fieldset
            %legend
              %span.title THIS IS WRONG
    %img{:border => "0", :src => "/assets/Logo-Top-BW.png", :style => "margin-left: 6px; width: 1226px; height: 70px; padding-bottom: 30px;"}/
  
    #content
      .container
        #logos
          %fieldset
            %legend
              %span.title Businesses Using Qwiqq
    %img{:border => "0", :src => "/assets/Logo-Bottom-BW.png", :style => "margin-left: 6px; width: 1222px; height: 70px;"}/

= render "shared/footer_home"
= render "shared/google_analytics"


