!!!
%html
  %head
  %body{:style => "background-color:#efefef"}
    %table{:style => "width:710px;margin:auto;border-collapse:collapse"}
      %tr
        %td
          = image_tag "email/email-logo.png", :style => "margin-top: 10px; margin-bottom: 10px"
      %tr
        %td{:style => "background-color:#fff;border:1px solid #b5b5b5"}
          = yield
          - if @show_footer
            %table{:style => "width: 600px; margin: auto; border-collapse:collapse;margin-bottom: 40px"}
              %tr
                %td{:style => "border-top: 1px solid #b5b5b5; padding-top: 20px", :colspan => "2"}
                  / empty
              %tr
                %td{:style => "text-align: right; padding-right: 20px; vertical-align: top"}
                  = image_tag "email/sharingiscaring.png"
                %td{:style => "text-algin: left; padding-left: 20px"}
                  = link_to "http://www.facebook.com/sharer/sharer.php?u=http://qwiqq.me", :style => "text-decoration: none; border: none"  do
                    = image_tag "email/fb.png"
                  &nbsp;
                  = link_to "http://twitter.com/share?text=I'm%20using%20%40Qwiqq%20to%20find%20great%20deals!%20http://qwiqq.me", :style => "text-decoration: none; border: none"  do
                    = image_tag "email/twitter.png"
                  &nbsp;
                  = link_to "mailto:?subject=Checkout Qwiqq!&body=http://qwiqq.me", :style => "text-decoration: none; border: none" do
                    = image_tag "email/email.png"


      - if @target
        %tr
          %td{:style => "color:#858585; font-size:8pt; font-family: 'Arial'; padding: 50px; padding-top: 10px"}
            #{link_to("Unsubscribe", update_user_notifications_url(@target))} to all Qwiqq notifications. If you would like to resubscribe you can change Notification settings directly from your Qwiqq iPhone App.
