!!!
%html
  %head
  %body
    %table{:style => "width:100%; margin:auto; border-collapse:collapse;", :background => image_path("email/background-pattern.png") }

      %tr
        %td{:align => "center"}
          %div{:style => "font-family: Helvetica, Arial; background-color:#fcfcfb; -webkit-box-shadow:  1px 1px 0px 1px #c6c2bd; box-shadow:  1px 1px 0px 1px #c6c2bd;padding:16px; border-radius:16px; margin:20px; font-size:13pt; width:500px; min-height:150px; line-height:25px"}
            = yield
      %tr
        %td{:style => "text-align:center; vertical-align:top; padding:20px"}
          = image_tag "email/tagline.png"
      %tr
        %td{:style => "text-align:center; padding-bottom: 20px"}
          = link_to "https://www.facebook.com/dialog/feed?app_id=236767206341724&link=http://get.qwiqq.me&name=Qwiqq&caption=get.qwiqq.me&description=Download Qwiqq now and start selling stuff socially!&redirect_uri=http://www.qwiqq.me/", :style => "text-decoration: none; border: none"  do
            = image_tag "email/facebook.png"
          &nbsp;
          = link_to "http://twitter.com/share?text=#{CGI::escape("I’m using @Qwiqq to sell stuff socially! http://get.qwiqq.me")}", :style => "text-decoration: none; border: none"  do
            = image_tag "email/twitter.png"
          - if @deal
            &nbsp;
            = link_to pinterest_url_for(@deal), :style => "text-decoration: none; border: none" do
              = image_tag "email/pinterest.png"
          &nbsp;
          = link_to "mailto:?subject=I’m using Qwiqq to sell stuff socially!&body=http://get.qwiqq.me", :style => "text-decoration: none; border: none" do
            = image_tag "email/email.png"
      %tr
        %td{:style => "text-align:center; padding-top:0px"}
          = link_to "https://itunes.apple.com/us/app/qwiqq/id453258253?mt=8", :style => "text-decoration: none; border: none" do
            = image_tag "email/logo.png", :style => "margin: 0 auto"
      - if @target
        %tr
          %td
            %div{:style => "width:540px; margin:0 auto; color:#404040; font-size:8pt; padding:20px; text-align:center"}
              #{link_to("Unsubscribe", update_user_notifications_url(@target), :style => "color:#404040")} from all Qwiqq notifications. If you would like to resubscribe you can change notification settings directly from your Qwiqq iPhone App.
        