!!!
%html
  %head
  %body
    %table{:style => "width:710px; margin:auto; border-collapse:collapse; background-image: url(" + image_path("email/background-pattern.png") + ")"}}
      %tr
        %td{:style => "padding-top: 80px; text-align: center"}
          = image_tag "email/logo.png", :style => "margin: 0 auto"
      %tr
        %td
          = yield
          - if @target
            %tr
              %td{:style => "font-size:8pt; padding: 50px; padding-top: 10px"}
                #{link_to("Unsubscribe", update_user_notifications_url(@target))} to all Qwiqq notifications. If you would like to resubscribe you can change Notification settings directly from your Qwiqq iPhone App.
          - if @show_footer
            %table{:style => "border-collapse:collapse; margin: 0 auto"}
              %tr
                %td{:style => "text-align: center; vertical-align: top"}
                  = image_tag "email/tagline.png"
              %tr
                %td{:style => "text-align: center"}
                  = link_to "http://www.facebook.com/sharer/sharer.php?u=http://qwiqq.me", :style => "text-decoration: none; border: none"  do
                    = image_tag "email/facebook.png"
                  &nbsp;
                  = link_to "http://twitter.com/share?text=I'm%20using%20%40Qwiqq%20to%20find%20great%20deals!%20http://qwiqq.me", :style => "text-decoration: none; border: none"  do
                    = image_tag "email/twitter.png"
                  &nbsp;
                  = link_to "mailto:?subject=Checkout Qwiqq!&body=http://qwiqq.me", :style => "text-decoration: none; border: none" do
                    = image_tag "email/email.png"

